.post {
	border: 1px solid #ccc;
	padding: 8px;
	margin-bottom: 8px;
	border-radius: 4px;
}
.authorContainer {
	display: flex;
	align-items: center;
	gap: 8px;
	line-break: anywhere;
}
.avatar {
	width: 32px;
	height: 32px;
	border-radius: 16px;
}
.soft {
	opacity: 0.6;
}
.pronouns {
	text-transform: lowercase;
}
.imagesThumbnailContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 4px;
	margin-top: 8px;
}
.postImageThumbnail {
	width: 256px;
	height: 256px;
	object-fit: cover;
	border-radius: 4px;
}
@media screen and (max-width: 400px) {
	.avatar {
		width: 24px;
		height: 24px;
		border-radius: 12px;
	}
	.soft {
		display: none;
	}
	.postImageThumbnail {
		width: 128px;
		height: 128px;
	}
}
button[disabled] {
	opacity: 0.6;
	pointer-events: none;
}